{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='disp.css') }}">
{% endblock %}

{% block body %}
<table style="margin-bottom: 40px;">
    <tr>
        <td>Question </td>
        <td>Marks: 4</td>
    </tr>
    <tr>
        <td colspan="2">
            {{question_to_display.question|safe}}

        </td>
    </tr>
    <tr>
        {% if question_to_display.answer|string() == 'A' %}
            <td id='a' style="background-color: rgba(0,255,0,0.4);">𝐀. {{ question_to_display.a }}</td>
        {% else %}
            <td id='a'>𝐀. {{ question_to_display.a }}</td>
        {% endif %}
        {% if question_to_display.answer|string() == 'B' %}
            <td id='a' style="background-color: rgba(0,255,0,0.4);">𝐁. {{ question_to_display.b }}</td>
        {% else %}
            <td id='a'>𝐁. {{ question_to_display.b }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if question_to_display.answer|string() =='C' %}
            <td id='a' style="background-color: rgba(0,255,0,0.4);">𝐂. {{ question_to_display.c }}</td>
        {% else %}
            <td id='a'>𝐂. {{ question_to_display.c }}</td>
        {% endif %}
        {% if question_to_display.answer|string() == 'D' %}
            <td id='a' style="background-color: rgba(0,255,0,0.4);">𝐃. {{ question_to_display.d }}</td>
        {% else %}
            <td id='a'>𝐃. {{ question_to_display.d }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="2"><b>Explanation</b>: {{question_to_display.comment}} </td>
    </tr>
</table>

{% endblock %}