{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='give_test.css') }}">
{% endblock %}

{% block wwbody %}
{% from "includes/_formhelpers.html" import render_field %}
  {{note}}
<header role="banner">
    <h1 style= "color:black">Log in</h1>
</header>

<main role="main">

    <form id="login-form" method="POST" action="/give-test">
        <dl>
            <dt><label for="login-email">TEST ID</label></dt>
            <dd>
                {{ form.test_id(placeholder="Test ID") }}
            </dd>

            <dt><label for="login-password">Test Password</label></dt>
            <dd>
                {{ form.password(placeholder="Test Password") }}
            </dd>
        </dl>
        <p><input type="submit" name="login-submit" id="login-submit" value="Submit" /></p>
    </form>

</main>

{% endblock %}
