<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Yaask | Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'index.css')}}">
</head>

<body>

    <div class="wrapper">
        <div class="Container">
            <div class="nav">
                <div class="logo">
                    Yaask Labs
                </div>
            </div>
            <div class="header">
                <img src="{{url_for('static',filename='../static/assets/yaask.png') }}">
                <p>Future of eduction</p>
                <a href="/login" class="nav-link">
                    <button type="button">Login/Register</button>
                </a>


            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>