{% extends "layout.html" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style>
	.cke {
		visibility: hidden;
	}

	.input-field label {
		position: relative !important;
	}
</style>


<style>
	.container {
		max-width: 75%;
		width: 100%;
	}
</style>

{% endblock %}

<!-- Dropdown Structure -->

{% block body %}
<h5 class="mhead">Add Questions to the system:</h5>
<br>

<br>


<div class="card-tabs">
	<ul class="tabs">
		<li class="tab"><a class="active" href="#test1">MCQ</a></li>
		<li class="tab"><a href="#test2">Numeric Response</a></li>
	</ul>
</div>
<br>
<div class="card-content grey lighten-4" id="highlight">
	<div id="test1">
		<form action="" method='POST'>
			{{ form.csrf_token }}
			<div class="form-group">
				<label for="Question">Question</label>
				{{ form.question(placeholder="Question", class='form-control') }}
			</div>
			<div class="row">
				<div class="form-group col-6">
					<label for="Option A">Option A</label>
					{{ form.a(placeholder="Option A", class='form-control') }}
				</div>
				<div class="form-group col-6">
					<label for="Option B">Option B</label>
					{{ form.b(placeholder="Option B", class='form-control') }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-6">
					<label for="Option C">Option C</label>
					{{ form.c(placeholder="Option C", class='form-control') }}
				</div>
				<div class="form-group col-6">
					<label for="Option D">Option D</label>
					{{ form.d(placeholder="Option D", class='form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label for="Answer">Answer</label>
				{{ form.answer(placeholder="Answer", class = 'form-control') }}
			</div>
			<div class="row">
				<div class="col s6">
					<label for="Subject">Subject</label>
					{{ form.category(placeholder="Category", class = 'form-control') }}
				</div>
				<div class="col s6">
					<label for="Difficulty">Difficulty</label>
					{{ form.difficulty(placeholder="Difficulty", class = 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label for="Topic">Topic</label>
				{{ form.tags(placeholder='Topic', class = 'form-control')}}
			</div>
			<div class="form-group">
				<label for="Comment">Comment</label>
				{{ form.comment(placeholder="Comment", class='form-control') }}
			</div>
			<div class="valign-wrapper">
				<button class="valign btn-large waves-effect waves-light" type="submit">Add the Question <i
						class="material-icons">send</i></button>
			</div>
			<div>
				<br>
			</div>

		</form>
	</div>
	<div id="test2">
		<form action="" method='POST'>
			{{ form1.csrf_token }}
			<div class="form-group">
				{{ form.question(placeholder="Question", class='form-control') }}
			</div>
			<div class="input-field  col s12">
				{{ form1.answer1(placeholder="Answer") }}
			</div>
			<div class="row">
				<div class="input-field col s6">
					{{ form1.category1(placeholder="Category") }}
				</div>
				<div class="input-field col s6">
					{{ form1.difficulty1(placeholder="Difficulty") }}
				</div>
			</div>
			<br>
			<div class="input-field inf col s12">
				<select multiple id="select_tag" name="select_tag">
					<option value="" disabled selected style="background-color: white;">Choose your option</option>
					{% for tag in tag %}
					<option value="{{tag}}">{{tag}}</option>
					{% endfor %}
				</select>
				<label class="active tf" for="tags"> Select Tags</label>

			</div>

			<div class="form-group">
				{{ form.comment(placeholder="Comment", class='form-control') }}
			</div>

			<div class="valign-wrapper">
				<button class="valign btn-large waves-effect waves-light" type="submit">Add the Question<i
						class="material-icons">send</i></button>
			</div>

			<div>
				<br>
			</div>

		</form>
	</div>
</div>


{{ ckeditor.load() }}
{{ ckeditor.config(name = 'question') }}
{{ ckeditor.config(name = 'a') }}
{{ ckeditor.config(name = 'b') }}
{{ ckeditor.config(name = 'c') }}
{{ ckeditor.config(name = 'd') }}
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<!-- Compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script> -->

<script>
	(function ($) {
		$(function () {
			// Plugin initialization
			$('select').not('.disabled').formSelect();
		});
	})(jQuery); // end of jQuery name space
</script>

{% endblock %}