{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% macro show_opt(result,opt) %}
  <!-- if correct option -- green -->
  {% if opt == 'a' %}
    {% if result.answer|string() == opt|upper %}
        <td style="background-color: rgba(0,255,0,0.4);"> <b>{{opt|upper}}</b>. {{result.a}}</td>
    {% else %}
        <td > <b>{{opt|upper}}</b>. {{result.a}}</td>
    {% endif %}

  {% elif opt == 'b' %}
    {% if result.answer|string() == opt|upper %}
        <td style="background-color: rgba(0,255,0,0.4);"> <b>{{opt|upper}}</b>. {{result.b}}</td>
    {% else %}
        <td > <b>{{opt|upper}}</b>. {{result.b}}</td>
    {% endif %}

  {% elif opt == 'c' %}
    {% if result.answer|string() == opt|upper %}
        <td style="background-color: rgba(0,255,0,0.4);"> <b>{{opt|upper}}</b>. {{result.c}}</td>
    {% else %}
        <td > <b>{{opt|upper}}</b>. {{result.c}}</td>
    {% endif %}

  {% elif opt == 'd' %}
    {% if result.answer|string() == opt|upper %}
        <td style="background-color: rgba(0,255,0,0.4);"> <b>{{opt|upper}}</b>. {{result.d}}</td>
    {% else %}
        <td > <b>{{opt|upper}}</b>. {{result.d}}</td>
    {% endif %}
  {% endif %}
{% endmacro %}




{% block body %}
<form action="" method="POST">
    {{ form.csrf_token }}
    {{ form.subject }}
    {{ form.number_of_questions }}
    {{ form.topic }}
    <input class='button' type="submit" value="Add Random Questions" style="color: black;">
</form>
<form action="" method="POST">
    {% for result in questions_to_display %}
        <input type="checkbox" id="{{result.questionid}}" name="{{result.questionid}}" value="checked">

        <table style="margin-bottom: 40px;">
            <tr>
                <td>Question No. {{ loop.index }}</td>
                <td>Marks: 4</td>
            </tr>
            <tr>
                <td colspan="2">
                    <pre style="border: 0px;" class="prettyprint" id="que"> {{result.question | safe}} </pre>
                </td>
            </tr>
            <tr>
                {{ show_opt(result,'a') }}
                {{ show_opt(result,'b') }}
            </tr>
            <tr>
                {{ show_opt(result,'c') }}
                {{ show_opt(result,'d') }}
            </tr>
            <tr>
                <td colspan="2"><b>Explanation</b>:  {{result.comment}} </td>
    
            </tr>
        </table> 

    {% endfor %}
<input class='button' type="submit" value="Add Selected Questions" style="color: black;">
</form>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='disp.css') }}">

{% endblock %}
