{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type='text/javascript'>

	//sets the global variable to the prefix to the root of the application
	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

</script>    
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script type='text/javascript'>
	//sets the global variable to the prefix to the root of the application
	
	$(document).ready(function(){
		$('.collapsible').collapsible({
		  accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		});
		//$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(".button-collapse").sideNav();
		$('select').material_select();
	  });
</script>
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='../static/css/display.css') }}">

<style>
	nav ul a {
		font-size: 1.4rem;
		color: #fff;
		display: block;
		padding: 0 15px;
	}
	a{
		color: #1a0dab;
	}
	.ans{
		margin-top: 1vh; 
		margin-bottom: 1vh; 
	}
	.rightbu{
		margin: 0 2vw 2vh 2vw;
		float: right;
	}
	.left{
		margin: 0 2vw 2vh 2vw;
	}

	.nav{
		z-index: 99; /* Make sure it does not overlap */
		border: none; /* Remove borders */
		outline: none; /* Remove outline */
		background-color: #F44336 ; /* Set a background color */
		color: white; /* Text color */
		cursor: pointer; /* Add a mouse pointer on hover */
		padding: 8px 20px; /* Some padding */
		border-radius: 10px; /* Rounded corners */
		font-size: 18px; /* Increase font size */
	}
	.a1:first-child{
		margin-top:5vh;
	}


</style>
<!-- Required for the page -->
<title>Display Questions| Yaask labs</title>
<link rel="icon" sizes="192x192" href="{{url_for('static',filename='../static/assets/yaask.png') }}">

{% endblock head %}


{% block navbar %}
<!-- Dropdown Structure -->

<!-- NavBar -->
<div class="navigation">
	<ul id="quizdropdown" class="dropdown-content">
		<li><a href="{{ url_for('quest.display') }}">All Catgories</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='math') }}">Math</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='physics') }}">Physics</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='chemistry') }}">Chemistry</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='biology') }}">Biology</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='other') }}">Others</a></li>
	</ul>
	<!-- Since the selectors based on ID and it seems duplicates cause an error -->
	<ul id="quizdropdown" class="dropdown-content">
		<li><a href="{{ url_for('quest.display') }}">All Catgories</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='math') }}">Math</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='physics') }}">Physics</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='chemistry') }}">Chemistry</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='biology') }}">Biology</a></li>
		<li><a href="{{ url_for('quest.categorywise', category='other') }}">Others</a></li>
	</ul>

	<ul id="user-dropdown" class="dropdown-content">
		<li><a href="#" >Profile</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="{{ url_for('users.logout')}}">Logout</a></li>
		
	</ul>
	<!-- Since the selectors based on ID and it seems duplicates cause an error -->
	<ul id="user-dropdown" class="dropdown-content">
		<li><a href="#" >Profile</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="{{ url_for('users.logout')}}">Logout</a></li>
		
	</ul>
	<nav class="#4a148c purple darken-4">
		<div class="nav-wrapper black-text">
			<a href="{{ url_for('main.home') }}" class="brand-logo">Yaask <img src="{{url_for('static',filename='../static/assets/yaask.png') }}" style="width: 25px;"> Labs</a>
			<a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				
				<li><a  class="" href="{{ url_for('main.home') }}">Home</a></li>
				<li><a class="dropdown-button" href="" data-activates="quizdropdown">Choose Subject<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="" href="{{ url_for('quest.submit') }}">Add Questions</a></li>
				<li><a  class="" href="{{ url_for('quest.editquestions') }}">Edit questions</a></li>
				{% if not current_user.name %}
					
					<li><a  class="black-text" href="{{ url_for('users.login') }}">Login</a></li>
					<li><a  class="black-text" href="{{ url_for('users.register') }}">Regiser</a></li>
				{% else %}
					<li><a class="dropdown-button" href="" data-activates="user-dropdown">Hi, {{current_user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
				{% endif %}
				
			</ul>
			
			<ul id="mobile-demo" class="side-nav">
				
				<li><a href="{{ url_for('main.home') }}">Home</a></li>
				<li><a class="dropdown-button" href="" data-activates="quizdropdown">Choose Subject<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="{{ url_for('quest.submit') }}">Add Questions</a></li>
				<li><a href="{{ url_for('quest.editquestions') }}">Edit Questions</a></li>
				{% if not current_user.name %}
					<li><a href="{{ url_for('users.login') }}">Login</a></li>
					<li><a href="{{ url_for('users.register') }}">Register</a></li>
				{% else %}
					<li><a class="dropdown-button black-text" href="" data-activates="user-dropdown">Hi, {{current_user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>

				{% endif %}
				
			</ul>
		</div>
	</nav>
</div>

{% endblock %}

{% block content %}
<!-- <button onclick="topFunction()" id="myBtn" title="Go to top" class="black-text"><i class="material-icons">arrow_upward</i></button> -->


<div class="mhead">List Of Questions</div>
<br>
<form action="" method='POST' style="background-color: #fff; padding: 10px; padding-bottom: 0px;">
	
	{{ form.csrf_token }}
	<div class="row">
		
		<div class="col s3">
			{{form.subject.label}}
			{{form.subject(placeholder="Subject") }}
			<span class="error">
				{% if form.subject.errors %}
				{% for error in form.tags.errors %}
				{{ error }}
				{% endfor %}
				{% endif %}
			</span>
		</div>
		<div class="col s3">
			{{form.tags.label}}
			{{ form.tags(placeholder="Tags") }}
			<span class="error">
				{% if form.tags.errors %}
				{% for error in form.tags.errors %}
				{{ error }}
				{% endfor %}
				{% endif %}
			</span>
		</div>
		<div class="col s3">
			{{form.difficulty.label}}
			{{ form.difficulty(placeholder="Difficulty") }}
			<span class="error">
				{% if form.difficulty.errors %}
				{% for error in form.difficulty.errors %}
				{{ error }}
				{% endfor %}
				{% endif %}
			</span>
		</div>
		<div class="col s3">
			<br>
			<button type="submit" style="width: 100%;">Submit</button>
		</div>
	</div>
</form>
<br>
{% if pg|int>1 %}
<a href="/display?subject={{subject}}&tags={{tags}}&difficulty={{difficulty}}&page={{pg|int-1|int}}" style="padding: 10px;">
	<button class="nav left"> <i class="fa fa-angle-left" style="padding-right:1vmin;"></i>Previous Page</button>
</a>
{% endif %}
{% if pg|int < limit %}
<a href="/display?subject={{subject}}&tags={{tags}}&difficulty={{difficulty}}&page={{pg|int+1|int}}" style="padding: 10px;">
	<button class="nav rightbu">Next Page<i class="fa fa-angle-right" style="padding-left:1vmin;"></i> </button>
</a>
{% endif %}
<form action="" method='POST'>
	{% for question_to_display in questions_to_display %}
	<div class="a1">
		<div style="display: flex;">
			<div style="width: 7vh;">
				<div class="row">
					<div class="qs col" style="word-wrap: anywhere;">
						<i class="material-icons">arrow_forward</i>&nbsp
					</div>
				</div>
			</div>
			<div style="width: 85vw">
				<div class="row">
					<div class="qs col s12">
						{{ question_to_display.question|safe }}
					</div>
				</div>	
				{% if ((question_to_display.a=='-1') and (question_to_display.b=='-1') and (question_to_display.c=='-1') and (question_to_display.d=='-1')) %}
				{% else %}
				<div class="row">
					<div class="col s6">
						A: {{ question_to_display.a }}
					</div>
					<div class="col s6">
						B: {{ question_to_display.b }}
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						C: {{ question_to_display.c }}
					</div>
					<div class="col s6">
						D: {{ question_to_display.d }}
					</div>
				</div>
				{% endif %}
			</div>

		</div>
		<div class="row ans">
			<div class="col" style="padding: ;">
				Correct Answer: {{question_to_display.answer}}
			</div>
		</div>
	</div>
	<br>
	{% endfor %}
</form>
{% if pg|int>1 %}
<a href="/display?subject={{subject}}&tags={{tags}}&difficulty={{difficulty}}&page={{pg|int-1|int}}" style="padding: 10px;">
	<button class="nav left"> <i class="fa fa-angle-left" style="padding-right:1vmin;"></i>Previous Page</button>
</a>
{% endif %}
{% if pg|int < limit %}
<a href="/display?subject={{subject}}&tags={{tags}}&difficulty={{difficulty}}&page={{pg|int+1|int}}" style="padding: 10px;">
	<button class="nav rightbu">Next Page<i class="fa fa-angle-right" style="padding-left:1vmin;"></i> </button>
</a>
{% endif %}

<br>
<br>
<br>


{% endblock content %}

{% block top%}
<div class="foot">
    <a class="uncolour" href="#">Terms and Conditions</a></li>
    <a class="uncolour" href="#">Contact Us</a></li>
    <div class="right">
        <a class="uncolour" href="#"><i class="fa fa-lg fa-facebook-square"></i></a>
        <a class="uncolour" href="#"><i class="fa fa-lg fa-twitter-square"></i></a>
        <a class="uncolour" href="#"><i class="fa fa-lg fa-instagram"></i></a>
        <a class="uncolour" href="#"><i class="fa fa-lg fa-youtube-play"></i></a>
</div>

{% endblock %}