@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Bangers");
html,
body {
    margin: 0;
    background: linear-gradient(45deg, indigo -100%, #131313);
}

.container {
    display: grid;
    grid-template-rows: 15vh 8vh auto 8vh auto 12vh;
    grid-template-columns: 10vw 80vw 10vw;
    align-items: center;
    grid-row-gap: 2vh;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-family: 'Bangers', sans-serif;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    line-height: 12vh;
    font-size: 6vh;
    justify-self: center;
    background-image: url({{url_for('static',filename='templates\\yaask-logo(1).png')}});
     background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
}

.mhead {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 5vh;
    line-height: 5vh;
    background: yellow;
    color: #131313;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}

.mcontent {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 3.5vmin;
    text-align: justify;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 8vh 5%;			
}

button {
    font-family: 'Bangers', sans-serif !important;
    background-color: #F44336 !important;
}

.navbar {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.navbar>a {
    border: 1px dashed white;
    text-decoration: none;
    font-size: 4vmin;
    line-height: 5vmin;
    height: 5vmin;
    padding: 1vh 2vw 1vh 2vw;
    cursor: pointer;
    border: 1px dashed white;
    color: yellow;
    text-decoration: none;
    transition: 100ms;
    font-family: 'Bangers', sans-serif !important;
}
.empty{
    margin: 2vh auto;
    padding: 2vh auto;
}

.log{
    margin: 2vh auto;
    padding: 2vh auto;
}	
.reg {
    font-family: 'Bangers', sans-serif;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh auto;
}

.reg a {
    height: 8vmin;
    padding: 2vmin 4vmin;			
    font-family: 'Bangers', sans-serif !important;
}

.reg .navbar {
    margin: 2vh 2vw;
}

.header a {
    color: white;
}
a.uncolour {
    color: white;
}
a.uncolour:hover {
    color: grey;
}
.right a {
    padding: 1vmin;
}
.valign-wrapper{
    margin-top: 5vh;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}    
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
&:hover {
    box-shadow: 0 0 6px #4285f4;
}
&:active {
    background: #1669F2;
}


