@import url("https://fonts.googleapis.com/css?family=Righteous|Bangers");

html,body{
    margin : 0 ;
    height : 100%;
    background : linear-gradient(45deg,indigo -100%,#131313);
}

.container{
    display : grid;
    grid-template-rows: 1vh 55vh 15vh 10vh;
    grid-row-gap: 2vh; 
    align-items : center;
    justify-content: center;
}

.logo{
    grid-row : 2 / 3;
    justify-self: center;
    height : 55vh;
    --scale : 12;
}

.name{
    grid-row : 3 / 4;
    font-family: 'Righteous',cursive;
    color: white;
    text-align: center;
    font-size: 7vh;
    align-self : flex-start;
}
.navbar{
  grid-row : 4 / 5;
  display:flex;
  flex-direction: row;
  width:100vw;
  height : 8vh;
  justify-content:space-around;
  align-items: center;
  z-index: 2;
  font-size: 3vh;
  line-height: 8vh;
  font-family: 'Bangers', sans-serif;
  text-align: center;
}
.navbar1{
  grid-row : 4 / 5;
  display:inline;
  flex-direction: row;
  width:100vw;
  height : 8vh;
  justify-content:space-around;
  align-items: center;
  z-index: 2;
  font-size: 3vh;
  line-height: 8vh;
  font-family: 'Bangers', sans-serif;
  text-align: center;
}
.navbar>a
{
    padding: 0 2vw 0 2vw;
    transition : 3s;
    cursor : pointer;
    border: 1px dashed white;
    color: yellow;
    text-decoration: none;
    transition :  100ms;
}
.navbar>a:hover{
    background : #131313;
}
.navbar1>a
{
    padding: 0 2vw 0 2vw;
    transition : 3s;
    cursor : pointer;
    border: 1px dashed white;
    color: yellow;
    text-decoration: none;
    transition :  100ms;
}
.navbar1>a:hover{
    background : #131313;
}

@media (orientation:landscape){
    .container{
        display : grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows : 25vh 65vh;
        grid-row-gap: 2vh; 
    }
    .logo{
        grid-column : 1 / 2;
        grid-row : 1 / 3;
        height : auto;
    }

    canvas{
      justify-content: center;
    }

    .name{
        grid-row : 1 / 2;
        font-size: 8vh;
        align-self : center;
    }

    .navbar{
      grid-row : 2 / 3;
      display:flex;
      flex-direction: column;
      justify-items: center;
      height : 100%;
      width : 100%;
      font-size: 5vh;
      align-content: space-around;
  }

  .navbar>a{
      width : 60%;
      height : 10vh;
      line-height: 10vh;
      justify-self: center;
  }

  .navbar1{
    grid-row : 2 / 3;
    display:flex;
    flex-direction: column;
    justify-items: center;
    height : 100%;
    width : 100%;
    font-size: 5vh;
    align-content: space-around;
}

.navbar1>a{
    width : 60%;
    height : 10vh;
    line-height: 10vh;
    justify-self: center;
}


}

.fadeIn{
    opacity : 0;
    animation  : fadeIn 2s linear 1s 1;
    animation-fill-mode: forwards;
}

.bounce:nth-child(1){
    animation : bounce 1s linear 1; 
}

.bounce:nth-child(2){
    animation : bounce 1s linear 0.2s 1; 
}

.bounce:nth-child(3){
    animation : bounce 1s linear 0.4s 1; 
}
.bounce:nth-child(4){
    animation : bounce 1s linear 0.6s 1; 
}
.bounce:nth-child(5){
    animation : bounce 1s linear 0.8s 1; 
}




@keyframes fadeIn{
    from{opacity : 0;}
    to{opacity : 1;}
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  



