
html,body{
    margin : 0 ;
    height : 100%;		
    background : linear-gradient(45deg,indigo -100%,#131313);            
}

.brand-logo{
    padding-left: 10px;
}
img#giticon {
    padding-right: 5px;
    height: 25px;
    width: 25px;
}
img#giticon.hover {
    opacity: 0.9;
}
#crown {
    height: 20px;
    width: 20px;
}

.popout a {
    display: block;
    width: 100%;		           
    color: #FFFF00;
    padding: 1em 1em;
    margin: 7px 0px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px dotted white;
}

.popout a:hover {
    background-color: black;
}

.popout a:active {
    box-shadow: none;
    top: 5px;
}

.popout li{
    
    padding: 5px;
    margin: 5px;
}

.popout{
    position: fixed;		
    width:20%;
    height:100%;
    background-color: rgb(73, 53, 87);;
    
}

p{
    display: none;
}

.page{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-content: stretch;		
}

.navigation{
    margin:0;
}

.sidebar{
    margin: 0;
}

.cntnt{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo{
        position:fixed;
        top:10%;
        left:35%;
        justify-self: center;
        height : 55vh;            
        --scale : 12;
    }  

    .fadeIn{
        opacity : 0;
        animation  : fadeIn 2s linear 1s 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn{
        from{opacity : 0;}
        to{opacity : 1;}
    }

    @-webkit-keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    
        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }
    
        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
    
        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }
    
    @keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    
        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }
    
        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
    
        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }
