<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>{% block title %}{% endblock %} - Yaask Labs</title>
	{% endblock head%}
	<style>
		html,
		body {
			height: 100%;
		}

		#container {
			min-height: 100%;
			position: relative;
			margin-bottom: -200px;
		}

		.forfooter {
			height: 200px;
			clear: both;
		}
	</style>
</head>

<body>
	{% block navbar %}{% endblock %}
	<div class="container">

		<!--child template -->
		{% block content %}{% endblock %}
		<br>
		<!-- Errors -->
		{% if error %}
		<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}
		<br>
		<!-- Flashed Messages -->


</body>

</html>