<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yaask Labs</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="manifest" href="manifest.json">
		<meta name="viewport" content="width=device-width">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="{{url_for('static',filename='../static/assets/yaask.png') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='../static/css/main.css') }}">

</head>
<body>
  <div class="container">
    <div class="logo"><canvas class= "fadeIn"></canvas></div>
    <div class="name">Yaask Labs</div>
    <div class="navbar">
    	{% if current_user.name %}
	        <a href="/about" class='bounce'>About</a>
		    <a href="/quiz" class="bounce">Display Questions</a>
		    <a href="/submit" class="bounce">Add Questions</a>
		    <a href="/test" class="bounce">Create Test</a>
	        <a href="/logout" class='bounce'>Logout</a>
	     
	    {% else %} 
	    	<a href="/about" class="bounce">About</a>
            <a href="/login" class="bounce">Login</a>
	        <a href="/register" class="bounce">Register</a>
        {% endif %}
    </div> 
  </div>
    <script src="{{url_for('static',filename='../static/js/main.js') }}"></script> 
</body>
</html>