{% extends "base.html" %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type='text/javascript'>

	//sets the global variable to the prefix to the root of the application
	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

</script>    
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script type='text/javascript'>
	//sets the global variable to the prefix to the root of the application
	
	$(document).ready(function(){
		$('.collapsible').collapsible({
		  accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		});
		//$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(".button-collapse").sideNav();
		$('select').material_select();
	  });
</script>

<style>

    @import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Bangers|Patrick+Hand");
	html,body{
        margin-top : 40px ;
        
		height : 90vh;	
		background : radial-gradient(indigo -100% ,#131313);	
                   
	}

	.mhead{
		grid-row : 2 / 3;
		grid-column : 2 / 3;
		font-size : 5vh;
		line-height : 5vh;
		background : yellow;
		color: #131313;
		text-align: center;
		font-family : 'Bangers',sans-serif;	
	}
	.brand-logo{
		padding-left: 10px;
        font-family : 'Bangers',sans-serif;	
		margin: 0px 2vw;
	}
	img#giticon {
		padding-right: 5px;
		height: 25px;
		width: 25px;
	}
	img#giticon.hover {
		opacity: 0.9;
	}
	
	ul{
		font-family : 'Yanone Kaffeesatz',sans-serif;
		font-size: 3em;
		padding-right: 2vh;
	}
	
	.navigation{
		
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
	}
	@media only screen and (max-width: 1000px) {
		html,body{
			margin-top: 0px;
		}
		.navigation{
			position: static;
			margin-bottom: 3vh;
		}
		
	}

	h6{
		font-family : 'Yanone Kaffeesatz',sans-serif;
		color: white;
		margin: 2vh 2vw;
		text-align: center;
	}

    .content{
        font-family : 'Yanone Kaffeesatz',sans-serif;
		color: white;
		margin: 2vh 1vw;
        padding: 2vh 1vw;
        font-size: 1.2em;
        padding-bottom:20px;		
    }
	form{
		font-size: 1em;
		font-family:'Patrick Hand', sans-serif;		
	}
    nav ul a {
		font-size: 1.4rem;
		color: #fff;
		display: block;
		padding: 0 15px;
	}
	
	.side-nav{
		font-family : 'Bangers',sans-serif;		
		height: 100%;
		background-color: floralwhite;	
	}
	.side-nav li{
		width: 100%;
		margin-right: 0;
	}
	.side-nav li a{
		width: 100%;
		margin-right: 0;
	}
    a{
        color: white;;
    }
    a:hover{
        text-decoration: none !important;
        color: white ;
    }    
    
    button{
        font-family : 'Bangers',sans-serif !important;
		background-color: #F44336 !important;
        border: none;
    }
    
    a.uncolour{
        color: white;
    }

    a.uncolour:hover{
        color: grey;
    }

    .valign-wrapper{
        margin-top: 5vh;
    }

    
    .card:hover{
        box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
		transform: translate3d(0, -4px, 0);
    }

    .card-content{
        font-size: 1.5em;
    }

    .card-action{
        background-color: rgb(200, 200, 234);
    }

    .card-action a{
        color:black !important;        
        font-family: 'Bangers',sans-serif;
    }

    .card-action a:hover{
        color:floralwhite !important;
    }
        

	</style>


{% endblock head %}

<!-- Dropdown Structure -->
{% block navbar %}
    <div class="navigation">
        <ul id="quizdropdown" class="dropdown-content">
            <li><a href="{{ url_for('display') }}" >All Categories</a></li>
            <li><a href="{{ url_for('categorywise', category='math') }}">Math</a></li>
            <li><a href="{{ url_for('categorywise', category='physics') }}">Physics</a></li>
            <li><a href="{{ url_for('categorywise', category='chemistry') }}">Chemistry</a></li>
            <li><a href="{{ url_for('categorywise', category='biology') }}">Biology</a></li>
            <li><a href="{{ url_for('categorywise', category='other') }}">Others</a></li>
        </ul>
        <!-- Since the selectors based on ID and it seems duplicates cause an error -->
        <ul id="quizdropdown" class="dropdown-content">
            <li><a href="{{ url_for('display') }}" >All Categories</a></li>
            <li><a href="{{ url_for('categorywise', category='math') }}">Math</a></li>
            <li><a href="{{ url_for('categorywise', category='physics') }}">Physics</a></li>
            <li><a href="{{ url_for('categorywise', category='chemistry') }}">Chemistry</a></li>
            <li><a href="{{ url_for('categorywise', category='biology') }}">Biology</a></li>
            <li><a href="{{ url_for('categorywise', category='other') }}">Others</a></li>
        </ul>
    
        <ul id="user-dropdown" class="dropdown-content">
            <li><a href="#" >Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
            
        </ul>
        <!-- Since the selectors based on ID and it seems duplicates cause an error -->
        <ul id="user-dropdown" class="dropdown-content">
            <li><a href="#" >Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
            
        </ul>
        <nav class="#4a148c purple darken-4">
            <div class="nav-wrapper black-text">
                <a href="{{ url_for('home') }}" class="brand-logo">Yaask <img src="{{url_for('static',filename='../static/assets/yaask.png') }}" style="width: 25px;"> Labs</a>
                <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                    <li><a  class="" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="" href="{{ url_for('test') }}">Create Test</a></li>
                    {% if not current_user.name %}
                        
                        <li><a  class="black-text" href="{{ url_for('login') }}">Login</a></li>
                        <li><a  class="black-text" href="{{ url_for('register') }}">Regiser</a></li>
                    {% else %}
                        <li><a class="dropdown-button" href="" data-activates="user-dropdown">Hi, {{current_user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif %}
                    
                </ul>
                
                <ul id="mobile-demo" class="side-nav">
                    
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('test') }}">Create Test</a></li>
                      {% if not current_user.name %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% else %}
                        <li><a class="dropdown-button black-text" href="" data-activates="user-dropdown">Hi, {{current_user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
    
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% for test in test %}
        <div class="content">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">                  
                  <p>Generate or Delete (Test No. {{test.testid}}):</p>
                </div>
                <div class="card-action">
                    <a href="#"><button name="button" value="{{test.testid}}">Generate Test - {{test.testid}} </button></a>
                    <a href="#"><button name="delete" value="{{test.testid}}">delete test </button></a> 
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    


    {% endblock content %}

    {% block top %}
    {% endblock %}
